In [ ]:
import pandas as pd
grade = pd.Series([85, 90, 78, 92])

print(grade)

In [6]:
data=pd.read_csv(r'/home/nduatihump/25e---PyData/Sales.csv')
data.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [8]:
import pandas as pd

data=pd.read_csv(r'/home/nduatihump/25e---PyData/Sales.csv')
data.head()
data.iloc[[0, 4, 6]]

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
6,Apple,iPhone 13 Mini,Pink,6 GB,512 GB,Yes,NaN,99900,99900,Apple iPhone 13 Mini,0,0.000000

In [9]:
data.iloc[0: 100: 2].head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
6,Apple,iPhone 13 Mini,Pink,6 GB,512 GB,Yes,NaN,99900,99900,Apple iPhone 13 Mini,0,0.000000
8,SAMSUNG,Galaxy E5,Brown,1.5 GB,16 GB,Yes,4.2,20400,20400,SAMSUNG Galaxy E5,0,0.000000

In [11]:
data.iloc[:,[0,2,5]].head()

    Brands         Colors Camera
0  SAMSUNG   Mirage Black    Yes
1    Nokia          Steel    Yes
2   realme  Diamond Black    Yes
3  Infinix       Ice Blue    Yes
4    Apple          Black    Yes

In [12]:
data.iloc[3:6,::2]

    Brands    Colors Storage  Rating  Original Price  Discount
3  Infinix  Ice Blue   64 GB     4.2           12999         0
4    Apple     Black   64 GB     4.6           49900         0
5   GIONEE     Black   16 MB     4.0            2199         0

In [14]:
import string
letters = list(string.ascii_uppercase)

df = data.iloc[0:26].copy()
df.index = letters
df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
B,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
C,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
D,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
E,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [15]:
df.loc['A']

Brands                              SAMSUNG
Models                         GALAXY M31S
Colors                         Mirage Black
Memory                                 8 GB
Storage                              128 GB
Camera                                  Yes
Rating                                  4.3
Selling Price                         19330
Original Price                        20999
Mobile                 SAMSUNG GALAXY M31S
Discount                               1669
discount percentage                7.947998
Name: A, dtype: object

In [17]:
df.loc['A':'H']

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
B,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
C,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
D,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
E,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
F,GIONEE,L800,Black,8 MB,16 MB,Yes,4.0,2199,2199,GIONEE L800,0,0.000000
G,Apple,iPhone 13 Mini,Pink,6 GB,512 GB,Yes,NaN,99900,99900,Apple iPhone 13 Mini,0,0.000000
H,Apple,iPhone XR,Coral,3 GB,64 GB,Yes,4.6,42999,47900,Apple iPhone XR,4901,10.231733

In [19]:
df.loc[:, ['Brands','Memory','Storage']].head()

    Brands Memory Storage
A  SAMSUNG   8 GB  128 GB
B    Nokia   2 GB   16 GB
C   realme   2 GB     NaN
D  Infinix   4 GB   64 GB
E    Apple    4GB   64 GB

In [20]:
df.loc['A':'H','Brands':'Storage']

    Brands           Models         Colors Memory Storage
A  SAMSUNG     GALAXY M31S    Mirage Black   8 GB  128 GB
B    Nokia              3.2          Steel   2 GB   16 GB
C   realme              C2   Diamond Black   2 GB     NaN
D  Infinix           Note 5       Ice Blue   4 GB   64 GB
E    Apple       iPhone 11           Black    4GB   64 GB
F   GIONEE             L800          Black   8 MB   16 MB
G    Apple  iPhone 13 Mini            Pink   6 GB  512 GB
H    Apple       iPhone XR           Coral   3 GB   64 GB

In [21]:
df.loc[df['Brands']=='SAMSUNG']

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
I,SAMSUNG,Galaxy E5,Brown,1.5 GB,16 GB,Yes,4.2,20400,20400,SAMSUNG Galaxy E5,0,0.000000
K,SAMSUNG,Galaxy A12,Black,4 GB,64 GB,Yes,4.2,11989,11989,SAMSUNG Galaxy A12,0,0.000000
R,SAMSUNG,Galaxy J2 Core,Gold,1 GB,16 GB,Yes,4.2,6999,6999,SAMSUNG Galaxy J2 Core,0,0.000000

In [23]:
df.groupby('Brands')[['Discount', 'Selling Price']].mean()

          Discount  Selling Price
Brands
ASUS          0.00    7699.000000
Apple       980.20   71519.800000
GIONEE        0.00    2849.000000
Infinix       0.00   12999.000000
Lenovo        0.00   13999.000000
Motorola      0.00    9999.000000
Nokia         0.00   10199.000000
OPPO       2500.00   10490.000000
SAMSUNG     417.25   14679.500000
Xiaomi     1263.00   21736.000000
realme     1500.00   15164.166667
vivo       6000.00   34990.000000

In [24]:
data.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [27]:
data.groupby('Brands')[['Selling Price', 'Discount']].mean()

              Selling Price     Discount
Brands
ASUS           20326.915254  1258.474576
Apple          81985.560724  2931.811370
GIONEE          7135.093023   683.519380
Google Pixel   61391.862069   620.344828
HTC            28314.381818     0.000000
IQOO           37190.000000  3800.000000
Infinix        11092.178808   925.907285
LG             19323.181818  3044.595960
Lenovo         10083.842975   266.669421
Motorola       16357.466667  4323.895238
Nokia           9428.657277   745.732394
OPPO           18560.488462  2050.776923
POCO           16870.621622  2614.864865
SAMSUNG        24296.248957  2535.781641
Xiaomi         16941.909091   911.343434
realme         16396.535168  1441.599388
vivo           23866.241935  1696.661290

In [29]:
data.groupby('Brands')[['Selling Price', 'Discount']].agg(['mean', 'min', 'max'])

             Selling Price                    Discount
                      mean    min     max         mean   min    max
Brands
ASUS          20326.915254   4499   79999  1258.474576     0  57500
Apple         81985.560724  24999  179900  2931.811370     0  45901
GIONEE         7135.093023   1099   21499   683.519380     0  19600
Google Pixel  61391.862069  12000   92000   620.344828     0  17990
HTC           28314.381818   6999   62990     0.000000     0      0
IQOO          37190.000000  34990   39990  3800.000000  3000   7000
Infinix       11092.178808   6949   19999   925.907285     0   3000
LG            19323.181818   5000   60000  3044.595960     0  50001
Lenovo        10083.842975   3549   29999   266.669421     0   7400
Motorola      16357.466667   5450   89999  4323.895238     0  75000
Nokia          9428.657277   1000   56299   745.732394     0  14028
OPPO          18560.488462   4999   60990  2050.776923 -8000  15000
POCO          16870.621622   7999   30999  2614.864865     0   6000
SAMSUNG       24296.248957   1099  169999  2535.781641     0  40000
Xiaomi        16941.909091   6499   54999   911.343434     0   8000
realme        16396.535168   6499   47999  1441.599388     0   5500
vivo          23866.241935   7990   79990  1696.661290     0  11891