In [1]:
import pandas as pd
grade = pd.Series([85, 90, 78, 92])

print(grade)

0    85
1    90
2    78
3    92
dtype: int64

In [2]:
data=pd.read_csv(r'/home/nduatihump/25e---PyData/Sales.csv')
data.head()

FileNotFoundError: [Errno 2] No such file or directory: '/home/nduatihump/25e---PyData/Sales.csv'

In [ ]:
import pandas as pd

data=pd.read_csv(r'/home/nduatihump/25e---PyData/Sales.csv')
data.head()
data.iloc[[0, 4, 6]]

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
6,Apple,iPhone 13 Mini,Pink,6 GB,512 GB,Yes,NaN,99900,99900,Apple iPhone 13 Mini,0,0.000000

In [ ]:
data.iloc[0: 100: 2].head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
6,Apple,iPhone 13 Mini,Pink,6 GB,512 GB,Yes,NaN,99900,99900,Apple iPhone 13 Mini,0,0.000000
8,SAMSUNG,Galaxy E5,Brown,1.5 GB,16 GB,Yes,4.2,20400,20400,SAMSUNG Galaxy E5,0,0.000000

In [ ]:
data.iloc[:,[0,2,5]].head()

    Brands         Colors Camera
0  SAMSUNG   Mirage Black    Yes
1    Nokia          Steel    Yes
2   realme  Diamond Black    Yes
3  Infinix       Ice Blue    Yes
4    Apple          Black    Yes

In [ ]:
data.iloc[3:6,::2]

    Brands    Colors Storage  Rating  Original Price  Discount
3  Infinix  Ice Blue   64 GB     4.2           12999         0
4    Apple     Black   64 GB     4.6           49900         0
5   GIONEE     Black   16 MB     4.0            2199         0

In [ ]:
import string
letters = list(string.ascii_uppercase)

df = data.iloc[0:26].copy()
df.index = letters
df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
B,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
C,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
D,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
E,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [ ]:
df.loc['A']

Brands                              SAMSUNG
Models                         GALAXY M31S
Colors                         Mirage Black
Memory                                 8 GB
Storage                              128 GB
Camera                                  Yes
Rating                                  4.3
Selling Price                         19330
Original Price                        20999
Mobile                 SAMSUNG GALAXY M31S
Discount                               1669
discount percentage                7.947998
Name: A, dtype: object

In [ ]:
df.loc['A':'H']

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
B,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
C,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
D,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
E,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
F,GIONEE,L800,Black,8 MB,16 MB,Yes,4.0,2199,2199,GIONEE L800,0,0.000000
G,Apple,iPhone 13 Mini,Pink,6 GB,512 GB,Yes,NaN,99900,99900,Apple iPhone 13 Mini,0,0.000000
H,Apple,iPhone XR,Coral,3 GB,64 GB,Yes,4.6,42999,47900,Apple iPhone XR,4901,10.231733

In [ ]:
df.loc[:, ['Brands','Memory','Storage']].head()

    Brands Memory Storage
A  SAMSUNG   8 GB  128 GB
B    Nokia   2 GB   16 GB
C   realme   2 GB     NaN
D  Infinix   4 GB   64 GB
E    Apple    4GB   64 GB

In [ ]:
df.loc['A':'H','Brands':'Storage']

    Brands           Models         Colors Memory Storage
A  SAMSUNG     GALAXY M31S    Mirage Black   8 GB  128 GB
B    Nokia              3.2          Steel   2 GB   16 GB
C   realme              C2   Diamond Black   2 GB     NaN
D  Infinix           Note 5       Ice Blue   4 GB   64 GB
E    Apple       iPhone 11           Black    4GB   64 GB
F   GIONEE             L800          Black   8 MB   16 MB
G    Apple  iPhone 13 Mini            Pink   6 GB  512 GB
H    Apple       iPhone XR           Coral   3 GB   64 GB

In [ ]:
df.loc[df['Brands']=='SAMSUNG']

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
I,SAMSUNG,Galaxy E5,Brown,1.5 GB,16 GB,Yes,4.2,20400,20400,SAMSUNG Galaxy E5,0,0.000000
K,SAMSUNG,Galaxy A12,Black,4 GB,64 GB,Yes,4.2,11989,11989,SAMSUNG Galaxy A12,0,0.000000
R,SAMSUNG,Galaxy J2 Core,Gold,1 GB,16 GB,Yes,4.2,6999,6999,SAMSUNG Galaxy J2 Core,0,0.000000

In [ ]:
df.groupby('Brands')[['Discount', 'Selling Price']].mean()

          Discount  Selling Price
Brands
ASUS          0.00    7699.000000
Apple       980.20   71519.800000
GIONEE        0.00    2849.000000
Infinix       0.00   12999.000000
Lenovo        0.00   13999.000000
Motorola      0.00    9999.000000
Nokia         0.00   10199.000000
OPPO       2500.00   10490.000000
SAMSUNG     417.25   14679.500000
Xiaomi     1263.00   21736.000000
realme     1500.00   15164.166667
vivo       6000.00   34990.000000

In [ ]:
data.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [ ]:
data.groupby('Brands')[['Selling Price', 'Discount']].mean()

              Selling Price     Discount
Brands
ASUS           20326.915254  1258.474576
Apple          81985.560724  2931.811370
GIONEE          7135.093023   683.519380
Google Pixel   61391.862069   620.344828
HTC            28314.381818     0.000000
IQOO           37190.000000  3800.000000
Infinix        11092.178808   925.907285
LG             19323.181818  3044.595960
Lenovo         10083.842975   266.669421
Motorola       16357.466667  4323.895238
Nokia           9428.657277   745.732394
OPPO           18560.488462  2050.776923
POCO           16870.621622  2614.864865
SAMSUNG        24296.248957  2535.781641
Xiaomi         16941.909091   911.343434
realme         16396.535168  1441.599388
vivo           23866.241935  1696.661290

In [ ]:
data.groupby('Brands')[['Selling Price', 'Discount']].agg(['mean', 'min', 'max'])

             Selling Price                    Discount
                      mean    min     max         mean   min    max
Brands
ASUS          20326.915254   4499   79999  1258.474576     0  57500
Apple         81985.560724  24999  179900  2931.811370     0  45901
GIONEE         7135.093023   1099   21499   683.519380     0  19600
Google Pixel  61391.862069  12000   92000   620.344828     0  17990
HTC           28314.381818   6999   62990     0.000000     0      0
IQOO          37190.000000  34990   39990  3800.000000  3000   7000
Infinix       11092.178808   6949   19999   925.907285     0   3000
LG            19323.181818   5000   60000  3044.595960     0  50001
Lenovo        10083.842975   3549   29999   266.669421     0   7400
Motorola      16357.466667   5450   89999  4323.895238     0  75000
Nokia          9428.657277   1000   56299   745.732394     0  14028
OPPO          18560.488462   4999   60990  2050.776923 -8000  15000
POCO          16870.621622   7999   30999  2614.864865     0   6000
SAMSUNG       24296.248957   1099  169999  2535.781641     0  40000
Xiaomi        16941.909091   6499   54999   911.343434     0   8000
realme        16396.535168   6499   47999  1441.599388     0   5500
vivo          23866.241935   7990   79990  1696.661290     0  11891

                                                             THURSDAY   10.09.2035

AGGREGATION METHOD USING APPLY $ GROUPBY METHOD

In [ ]:
# example 1 # .apply() in row wise operations
# categorize the phones based on price:flagship, mid-range, budget

import pandas as pd
data=pd.read_csv(r'/home/hump-nduati/Data-Science/25e---PyData/Sales.csv')

def price_category(row):
    price=row['Selling Price']
    if price > 20000:
        return 'Flagship'
    elif price > 10000:
        return 'Mid-range'
    else:
        return 'Budget phone'

In [ ]:
data['Phone category']=data.apply(price_category,axis=1)
data.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage,Phone category
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998,Mid-range
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000,Mid-range
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563,Budget phone
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000,Mid-range
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000,Flagship

In [ ]:
# top rated phones #groupby mini dataframes #filtering the mini dataframes to give all the rows where the value in the rating = the maximum rating
def get_top_rated(group):
    max_rating = group['Rating'].max()
    return group[group['Rating'] == max_rating]     #indexing the dataframe to return the top rated phones

top_rated_per_brand = data.groupby('Brands').apply(get_top_rated)
top_rated_per_brand

/tmp/ipykernel_75446/2032502332.py:6: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_rated_per_brand = data.groupby('Brands').apply(get_top_rated)

             Brands          Models          Colors Memory Storage Camera  \
Brands
ASUS   390     ASUS   ROG Phone II            Black  12 GB  512 GB    Yes
       1100    ASUS   ROG Phone II            Black   8 GB  128 GB    Yes
Apple  2483   Apple  iPhone 7 Plus              Red   3 GB  256 GB    Yes
       2634   Apple  iPhone 7 Plus              Red   3 GB  256 GB    Yes
GIONEE 64    GIONEE       Marathon             Grey   2 GB   16 GB    Yes
...             ...             ...             ...    ...     ...    ...
realme 2179  realme            9 5G  Stargaze White   6 GB  128 GB    Yes
vivo   247     vivo           X50        Frost Blue   8 GB  256 GB    Yes
       1446    vivo             Z1x  Phantom Purple   6 GB   64 GB    Yes
       1655    vivo         X60 Pro    Shimmer Blue  12 GB  256 GB    Yes
       2879    vivo              S2   Diamond Black   4 GB  128 GB    Yes

             Rating  Selling Price  Original Price                Mobile  \
Brands
ASUS   390      4.6          62999           62999    ASUS ROG Phone II
       1100     4.6          40999           40999    ASUS ROG Phone II
Apple  2483     5.0          85400           85400  Apple iPhone 7 Plus
       2634     5.0          85400           85400  Apple iPhone 7 Plus
GIONEE 64       4.4          11999           11999      GIONEE Marathon
...             ...            ...             ...                   ...
realme 2179     4.8          17499           20999           realme 9 5G
vivo   247      5.0          44990           44990            vivo X50
       1446     5.0          19990           19990              vivo Z1x
       1655     5.0          48780           48780          vivo X60 Pro
       2879     5.0          19990           19990               vivo S2

             Discount  discount percentage Phone category
Brands
ASUS   390          0              0.00000       Flagship
       1100         0              0.00000       Flagship
Apple  2483         0              0.00000       Flagship
       2634         0              0.00000       Flagship
GIONEE 64           0              0.00000      Mid-range
...               ...                  ...            ...
realme 2179      3500             16.66746      Mid-range
vivo   247          0              0.00000       Flagship
       1446         0              0.00000      Mid-range
       1655         0              0.00000       Flagship
       2879         0              0.00000      Mid-range

[101 rows x 13 columns]

In [ ]:
data.groupby(['Brands','Memory', 'Storage'])['Selling Price'].mean().unstack()

Storage        1 TB  10 MB  100 MB        128 GB  128 MB  129 GB  130 GB  \
Brands Memory
ASUS   1 GB     NaN    NaN     NaN           NaN     NaN     NaN     NaN
       12 GB    NaN    NaN     NaN  49999.000000     NaN     NaN     NaN
       16 GB    NaN    NaN     NaN           NaN     NaN     NaN     NaN
       18 GB    NaN    NaN     NaN           NaN     NaN     NaN     NaN
       2 GB     NaN    NaN     NaN           NaN     NaN     NaN     NaN
...             ...    ...     ...           ...     ...     ...     ...
vivo   2 GB     NaN    NaN     NaN           NaN     NaN     NaN     NaN
       3 GB     NaN    NaN     NaN           NaN     NaN     NaN     NaN
       4 GB     NaN    NaN     NaN  17514.333333     NaN     NaN     NaN
       6 GB     NaN    NaN     NaN  23092.375000     NaN     NaN     NaN
       8 GB     NaN    NaN     NaN  22738.571429     NaN     NaN     NaN

Storage        140 MB  153 MB         16 GB  ...  4 MB  48 MB   512 GB  \
Brands Memory                                ...
ASUS   1 GB       NaN     NaN           NaN  ...   NaN    NaN      NaN
       12 GB      NaN     NaN           NaN  ...   NaN    NaN  62999.0
       16 GB      NaN     NaN           NaN  ...   NaN    NaN  69999.0
       18 GB      NaN     NaN           NaN  ...   NaN    NaN  79999.0
       2 GB       NaN     NaN   8413.894737  ...   NaN    NaN      NaN
...               ...     ...           ...  ...   ...    ...      ...
vivo   2 GB       NaN     NaN   8656.666667  ...   NaN    NaN      NaN
       3 GB       NaN     NaN  20656.666667  ...   NaN    NaN      NaN
       4 GB       NaN     NaN           NaN  ...   NaN    NaN      NaN
       6 GB       NaN     NaN           NaN  ...   NaN    NaN      NaN
       8 GB       NaN     NaN           NaN  ...   NaN    NaN      NaN

Storage        512 MB         64 GB  64 MB    8 GB  8 MB  \
Brands Memory
ASUS   1 GB       NaN           NaN    NaN  5411.0   NaN
       12 GB      NaN           NaN    NaN     NaN   NaN
       16 GB      NaN           NaN    NaN     NaN   NaN
       18 GB      NaN           NaN    NaN     NaN   NaN
       2 GB       NaN           NaN    NaN  4990.0   NaN
...               ...           ...    ...     ...   ...
vivo   2 GB       NaN           NaN    NaN     NaN   NaN
       3 GB       NaN  24516.875000    NaN     NaN   NaN
       4 GB       NaN  19308.350000    NaN     NaN   NaN
       6 GB       NaN  21763.454545    NaN     NaN   NaN
       8 GB       NaN           NaN    NaN     NaN   NaN

Storage        Expandable Upto 16 GB  Expandable Upto 32 GB
Brands Memory
ASUS   1 GB                      NaN                    NaN
       12 GB                     NaN                    NaN
       16 GB                     NaN                    NaN
       18 GB                     NaN                    NaN
       2 GB                      NaN                    NaN
...                              ...                    ...
vivo   2 GB                      NaN                    NaN
       3 GB                      NaN                    NaN
       4 GB                      NaN                    NaN
       6 GB                      NaN                    NaN
       8 GB                      NaN                    NaN

[127 rows x 26 columns]

AGGREGATION METHOD USING PIVOT TABLES

In [ ]:
# examples of a pivot table on the average selling price of phones per brand

pd.pivot_table(
    data,index='Brands', values='Selling Price', aggfunc='mean'
)

              Selling Price
Brands
ASUS           20326.915254
Apple          81985.560724
GIONEE          7135.093023
Google Pixel   61391.862069
HTC            28314.381818
IQOO           37190.000000
Infinix        11092.178808
LG             19323.181818
Lenovo         10083.842975
Motorola       16357.466667
Nokia           9428.657277
OPPO           18560.488462
POCO           16870.621622
SAMSUNG        24296.248957
Xiaomi         16941.909091
realme         16396.535168
vivo           23866.241935

In [ ]:
# example #if i wanted to know the average discount 
pd.pivot_table(
    data,
    index='Brands',
    columns=['Memory', 'Storage'],
    values='Selling Price',
    aggfunc='mean'
)

Memory           1 GB                                                 \
Storage        128 GB         16 GB    32 GB      4 GB         64 GB
Brands
ASUS              NaN           NaN      NaN       NaN           NaN
Apple         64499.6  41081.000000  30780.0       NaN  57356.714286
GIONEE            NaN   5257.764706      NaN  11245.00           NaN
Google Pixel      NaN           NaN      NaN       NaN           NaN
HTC               NaN  17371.500000      NaN  16200.00           NaN
IQOO              NaN           NaN      NaN       NaN           NaN
Infinix           NaN           NaN      NaN       NaN           NaN
LG                NaN   7000.000000      NaN  13476.50           NaN
Lenovo            NaN  11124.000000      NaN  12951.75           NaN
Motorola          NaN   8374.000000      NaN       NaN           NaN
Nokia             NaN           NaN  40699.0   9999.00           NaN
OPPO              NaN  12488.333333      NaN       NaN           NaN
POCO              NaN           NaN      NaN       NaN           NaN
SAMSUNG           NaN   7090.250000      NaN       NaN           NaN
Xiaomi            NaN           NaN      NaN       NaN           NaN
realme            NaN           NaN      NaN       NaN           NaN
vivo              NaN           NaN      NaN       NaN           NaN

Memory                            1.5 GB                 10 MB  100 MB  ...  \
Storage               8 GB         16 GB     8 GB         2 MB  100 MB  ...
Brands                                                                  ...
ASUS           5411.000000           NaN      NaN          NaN     NaN  ...
Apple                  NaN           NaN      NaN          NaN     NaN  ...
GIONEE         4767.400000           NaN      NaN          NaN     NaN  ...
Google Pixel           NaN           NaN      NaN          NaN     NaN  ...
HTC           13444.500000           NaN  27390.0          NaN     NaN  ...
IQOO                   NaN           NaN      NaN          NaN     NaN  ...
Infinix                NaN           NaN      NaN          NaN     NaN  ...
LG            10752.625000           NaN   6590.0          NaN     NaN  ...
Lenovo         8144.266667           NaN      NaN          NaN     NaN  ...
Motorola       9332.333333           NaN      NaN          NaN     NaN  ...
Nokia          6389.285714           NaN      NaN          NaN     NaN  ...
OPPO                   NaN           NaN      NaN          NaN     NaN  ...
POCO                   NaN           NaN      NaN          NaN     NaN  ...
SAMSUNG        7359.611111  13097.555556  11511.0  2062.666667  1949.0  ...
Xiaomi                 NaN           NaN      NaN          NaN     NaN  ...
realme                 NaN           NaN      NaN          NaN     NaN  ...
vivo                   NaN           NaN      NaN          NaN     NaN  ...

Memory         768 MB          8 GB                                          \
Storage          4 GB        128 GB   129 GB   130 GB    2 MB        256 GB
Brands
ASUS              NaN  44927.571429      NaN      NaN     NaN  43999.000000
Apple             NaN           NaN      NaN      NaN     NaN           NaN
GIONEE            NaN           NaN      NaN      NaN  4790.0           NaN
Google Pixel      NaN           NaN      NaN      NaN     NaN           NaN
HTC               NaN           NaN      NaN      NaN     NaN           NaN
IQOO              NaN  34990.000000      NaN      NaN     NaN  37990.000000
Infinix           NaN  17199.000000      NaN      NaN     NaN  16999.000000
LG            13299.0  29999.000000      NaN      NaN     NaN           NaN
Lenovo            NaN           NaN      NaN      NaN     NaN           NaN
Motorola          NaN  26499.000000      NaN      NaN     NaN  89999.000000
Nokia          7990.0           NaN      NaN      NaN     NaN           NaN
OPPO              NaN  25251.125000      NaN      NaN     NaN  34635.250000
POCO              NaN  21443.444444      NaN      NaN     NaN  27832.333333
SAMSUNG        4960.0  38886.363636      NaN      NaN     NaN  66021.444444
Xiaomi            NaN  27672.714286  24081.0  25999.0     NaN  41969.500000
realme            NaN  23400.785714      NaN      NaN     NaN  28110.111111
vivo              NaN  22738.571429      NaN      NaN     NaN  30379.444444

Memory                        8 MB
Storage             512 GB   16 MB    2 MB Expandable Upto 32 GB
Brands
ASUS                   NaN     NaN     NaN                   NaN
Apple                  NaN     NaN     NaN                   NaN
GIONEE                 NaN  1697.2     NaN                   NaN
Google Pixel           NaN     NaN     NaN                   NaN
HTC                    NaN     NaN     NaN                   NaN
IQOO                   NaN     NaN     NaN                   NaN
Infinix                NaN     NaN     NaN                   NaN
LG                     NaN     NaN     NaN                   NaN
Lenovo                 NaN     NaN     NaN                   NaN
Motorola               NaN     NaN     NaN                   NaN
Nokia                  NaN  3987.5  2999.0                2849.5
OPPO                   NaN     NaN     NaN                   NaN
POCO                   NaN     NaN     NaN                   NaN
SAMSUNG       68985.142857     NaN     NaN                   NaN
Xiaomi                 NaN     NaN     NaN                   NaN
realme                 NaN     NaN     NaN                   NaN
vivo                   NaN     NaN     NaN                   NaN

[17 rows x 86 columns]

In [ ]:
# getting rid of the null values in the pivot table using fillna()
pd.pivot_table(
    data,
    index='Brands',
    columns=['Memory', 'Storage'],
    values='Selling Price',
    aggfunc='mean',
    fill_value=0
)

Memory           1 GB                                                 \
Storage        128 GB         16 GB    32 GB      4 GB         64 GB
Brands
ASUS              0.0      0.000000      0.0      0.00      0.000000
Apple         64499.6  41081.000000  30780.0      0.00  57356.714286
GIONEE            0.0   5257.764706      0.0  11245.00      0.000000
Google Pixel      0.0      0.000000      0.0      0.00      0.000000
HTC               0.0  17371.500000      0.0  16200.00      0.000000
IQOO              0.0      0.000000      0.0      0.00      0.000000
Infinix           0.0      0.000000      0.0      0.00      0.000000
LG                0.0   7000.000000      0.0  13476.50      0.000000
Lenovo            0.0  11124.000000      0.0  12951.75      0.000000
Motorola          0.0   8374.000000      0.0      0.00      0.000000
Nokia             0.0      0.000000  40699.0   9999.00      0.000000
OPPO              0.0  12488.333333      0.0      0.00      0.000000
POCO              0.0      0.000000      0.0      0.00      0.000000
SAMSUNG           0.0   7090.250000      0.0      0.00      0.000000
Xiaomi            0.0      0.000000      0.0      0.00      0.000000
realme            0.0      0.000000      0.0      0.00      0.000000
vivo              0.0      0.000000      0.0      0.00      0.000000

Memory                            1.5 GB                 10 MB  100 MB  ...  \
Storage               8 GB         16 GB     8 GB         2 MB  100 MB  ...
Brands                                                                  ...
ASUS           5411.000000      0.000000      0.0     0.000000     0.0  ...
Apple             0.000000      0.000000      0.0     0.000000     0.0  ...
GIONEE         4767.400000      0.000000      0.0     0.000000     0.0  ...
Google Pixel      0.000000      0.000000      0.0     0.000000     0.0  ...
HTC           13444.500000      0.000000  27390.0     0.000000     0.0  ...
IQOO              0.000000      0.000000      0.0     0.000000     0.0  ...
Infinix           0.000000      0.000000      0.0     0.000000     0.0  ...
LG            10752.625000      0.000000   6590.0     0.000000     0.0  ...
Lenovo         8144.266667      0.000000      0.0     0.000000     0.0  ...
Motorola       9332.333333      0.000000      0.0     0.000000     0.0  ...
Nokia          6389.285714      0.000000      0.0     0.000000     0.0  ...
OPPO              0.000000      0.000000      0.0     0.000000     0.0  ...
POCO              0.000000      0.000000      0.0     0.000000     0.0  ...
SAMSUNG        7359.611111  13097.555556  11511.0  2062.666667  1949.0  ...
Xiaomi            0.000000      0.000000      0.0     0.000000     0.0  ...
realme            0.000000      0.000000      0.0     0.000000     0.0  ...
vivo              0.000000      0.000000      0.0     0.000000     0.0  ...

Memory         768 MB          8 GB                                          \
Storage          4 GB        128 GB   129 GB   130 GB    2 MB        256 GB
Brands
ASUS              0.0  44927.571429      0.0      0.0     0.0  43999.000000
Apple             0.0      0.000000      0.0      0.0     0.0      0.000000
GIONEE            0.0      0.000000      0.0      0.0  4790.0      0.000000
Google Pixel      0.0      0.000000      0.0      0.0     0.0      0.000000
HTC               0.0      0.000000      0.0      0.0     0.0      0.000000
IQOO              0.0  34990.000000      0.0      0.0     0.0  37990.000000
Infinix           0.0  17199.000000      0.0      0.0     0.0  16999.000000
LG            13299.0  29999.000000      0.0      0.0     0.0      0.000000
Lenovo            0.0      0.000000      0.0      0.0     0.0      0.000000
Motorola          0.0  26499.000000      0.0      0.0     0.0  89999.000000
Nokia          7990.0      0.000000      0.0      0.0     0.0      0.000000
OPPO              0.0  25251.125000      0.0      0.0     0.0  34635.250000
POCO              0.0  21443.444444      0.0      0.0     0.0  27832.333333
SAMSUNG        4960.0  38886.363636      0.0      0.0     0.0  66021.444444
Xiaomi            0.0  27672.714286  24081.0  25999.0     0.0  41969.500000
realme            0.0  23400.785714      0.0      0.0     0.0  28110.111111
vivo              0.0  22738.571429      0.0      0.0     0.0  30379.444444

Memory                        8 MB
Storage             512 GB   16 MB    2 MB Expandable Upto 32 GB
Brands
ASUS              0.000000     0.0     0.0                   0.0
Apple             0.000000     0.0     0.0                   0.0
GIONEE            0.000000  1697.2     0.0                   0.0
Google Pixel      0.000000     0.0     0.0                   0.0
HTC               0.000000     0.0     0.0                   0.0
IQOO              0.000000     0.0     0.0                   0.0
Infinix           0.000000     0.0     0.0                   0.0
LG                0.000000     0.0     0.0                   0.0
Lenovo            0.000000     0.0     0.0                   0.0
Motorola          0.000000     0.0     0.0                   0.0
Nokia             0.000000  3987.5  2999.0                2849.5
OPPO              0.000000     0.0     0.0                   0.0
POCO              0.000000     0.0     0.0                   0.0
SAMSUNG       68985.142857     0.0     0.0                   0.0
Xiaomi            0.000000     0.0     0.0                   0.0
realme            0.000000     0.0     0.0                   0.0
vivo              0.000000     0.0     0.0                   0.0

[17 rows x 86 columns]

JOIN, MERGE, CONCATINATION     #COMBINING DATAFRAMES

In [ ]:
# JOIN()
import pandas as pd
df1 = pd.DataFrame({
    'student_name': ['Nduati', 'Esther', 'Mercy']
}, index=[1,2,3])

df2 = pd.DataFrame({
    'course': ['Python', 'Django', 'SQL']
}, index=[2,3,4])

In [ ]:
df1.head()

  student_name
1       Nduati
2       Esther
3        Mercy

In [ ]:
df2.head()

   course
1  Python
2  Django
3     SQL

In [ ]:
#left join
result = df1.join(df2, how='left')
result

  student_name  course
1       Nduati     NaN
2       Esther  Python
3        Mercy  Django

In [ ]:
#right join
result = df1.join(df2, how='right')
result

  student_name  course
2       Esther  Python
3        Mercy  Django
4          NaN     SQL

In [ ]:
# CASE 2 - joing 1 dataframe to columns of another dataframe
df1 = pd.DataFrame({
    'student_name': ['Nduati', 'Esther', 'Mercy']
}, index=[1,2,3])

df2 = pd.DataFrame({
    'course': ['Python', 'Django', 'SQL'],
    'student_id': [2, 3, 4]
})

In [ ]:
df1

  student_name
1       Nduati
2       Esther
3        Mercy

In [ ]:
df2

   course  student_id
0  Python           2
1  Django           3
2     SQL           4

In [ ]:
# You can only specify one join type at a time, e.g. 'left', 'right', or 'inner'
# Example: left join
result = df2.join(df1, on='student_id', how='left')
result  # combining df2 to df1 on the student_id column of df2

   course  student_id student_name
0  Python           2       Esther
1  Django           3        Mercy
2     SQL           4          NaN

In [ ]:
# pd.merge() is used to combine two dataframes based on a common column
df1 = pd.DataFrame({
    'course': ['Python', 'Django', 'SQL'],
  'student_id': [1, 3, 4]
 })

df2 = pd.DataFrame({
    'student_name': ['Esther', 'Nduati', 'Mercy'],
    'student_id': [2, 3, 4]
})

In [ ]:
df1.head()

   course  student_id
0  Python           2
1  Django           3
2     SQL           4

In [ ]:
df2.head()

  student_name  student_id
0       Esther           1
1       Nduati           2
2        Mercy           3

In [ ]:
#inner join
result=df1.merge(df2, how='inner', on='student_id')  # inner join on student_id column
result

   course  student_id student_name
0  Django           3       Nduati
1     SQL           4        Mercy

In [ ]:
#left join
result=df1.merge(df2, how='left', on='student_id')  # inner join on student_id column
result

   course  student_id student_name
0  Python           1          NaN
1  Django           3       Nduati
2     SQL           4        Mercy

In [ ]:
#right join
result=df1.merge(df2, how='right', on='student_id')  # inner join on student_id column
result

   course  student_id student_name
0     NaN           2       Esther
1  Django           3       Nduati
2     SQL           4        Mercy

In [ ]:
df1 = pd.DataFrame({
    'course': ['Python', 'Django', 'SQL'],
  'ID': [1, 3, 4]
 })

df2 = pd.DataFrame({
    'student_name': ['Esther', 'Nduati', 'Mercy'],
    'student_id': [2, 3, 4]
})

In [ ]:
df1.head()

   course  student_id
0  Python           1
1  Django           3
2     SQL           4

In [ ]:
df2.head()

  student_name  student_id
0       Esther           2
1       Nduati           3
2        Mercy           4

In [ ]:
#left on
result =df1.merge(df2, how='inner', left_on='ID', right_on='student_id') # inner join on ID column of df1 and student_id column of df2
result

   course  ID student_name  student_id
0  Django   3       Nduati           3
1     SQL   4        Mercy           4

In [ ]:
#pd.concat() is used to concatenate two or more dataframes along a particular axis (rows or columns)
result = pd.concat([df1, df2], axis=0, ignore_index=True) # Concatenating along rows
result

   course   ID student_name  student_id
0  Python  1.0          NaN         NaN
1  Django  3.0          NaN         NaN
2     SQL  4.0          NaN         NaN
3     NaN  NaN       Esther         2.0
4     NaN  NaN       Nduati         3.0
5     NaN  NaN        Mercy         4.0

In [7]:
result = pd.concat([df1, df2], axis=1) # Concatenating along columns
result

NameError: name 'df1' is not defined

In [ ]:
df = pd.read_excel=(r'/home/humpnduati/DATA_SCIENCE/25e---PyData/Data_Sets/train.xlsx')
df

'/home/humpnduati/DATA_SCIENCE/25e---PyData/Data_Sets/train.xlsx'

In [ ]:
/home/humpnduati/DATA_SCIENCE/25e---PyData/Data_Sets/train.xlsx

TypeError: string indices must be integers, not 'str'