# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [ ]:
data = {
    'evolution':['Ivysaur', 'Charmleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Catepie'],
    'pokedox':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}

df = pd.DataFrame(data).head()
print(df)

   evolution  hp        name pokedox   type
0    Ivysaur  45   Bulbasaur     yes  grass
1  Charmleon  39  Charmander      no   fire
2  Wartortle  44    Squirtle     yes  water
3    Metapod  45     Catepie      no    bug

### Step 3. Assign it to a variable called pokemon

In [13]:
pokemon = df
print(pokemon)

   evolution  hp        name pokedox   type
0    Ivysaur  45   Bulbasaur     yes  grass
1  Charmleon  39  Charmander      no   fire
2  Wartortle  44    Squirtle     yes  water
3    Metapod  45     Catepie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [14]:
pokemon =pd.DataFrame(data, columns=['name', 'type', 'hp', 'evolution', 'pokedox']).head()
print(pokemon)

         name   type  hp  evolution pokedox
0   Bulbasaur  grass  45    Ivysaur     yes
1  Charmander   fire  39  Charmleon      no
2    Squirtle  water  44  Wartortle     yes
3     Catepie    bug  45    Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [16]:
data = {
    'evolution':['Ivysaur', 'Charmleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Catepie'],
    'pokedox':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug'],
    'place':['nairobi', 'mombasa', 'kisumu', 'nakuru']
}
pokemon =pd.DataFrame(data, columns=['name', 'type', 'hp', 'evolution', 'pokedox', 'place']).head()
print(pokemon)

         name   type  hp  evolution pokedox    place
0   Bulbasaur  grass  45    Ivysaur     yes  nairobi
1  Charmander   fire  39  Charmleon      no  mombasa
2    Squirtle  water  44  Wartortle     yes   kisumu
3     Catepie    bug  45    Metapod      no   nakuru

### Step 6. Present the type of each column

In [19]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedox      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [21]:
pokemon.iloc[:2].head()

         name   type  hp  evolution pokedox    place
0   Bulbasaur  grass  45    Ivysaur     yes  nairobi
1  Charmander   fire  39  Charmleon      no  mombasa