# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [25]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [26]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

df = pd.DataFrame(raw_data)

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [27]:
regiment_mean = df.groupby('regiment').mean(numeric_only=True)
print(regiment_mean)

            preTestScore  postTestScore
regiment
Dragoons           15.50           61.5
Nighthawks         15.25           59.5
Scouts              2.50           66.0

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [28]:
regiment_company_mean = df.groupby(['regiment', 'company']).mean(numeric_only=True)
print(regiment_company_mean)

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

### Step 5. Present general statistics by company

In [29]:
regiment_company_count = df.groupby(['regiment', 'company']).size()
print(regiment_company_count)

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 6. What is the mean of each company's preTestScore?

In [30]:
pretest_stats = df.groupby('regiment')['preTestScore'].describe()
print(pretest_stats)

            count   mean        std  min   25%   50%    75%   max
regiment
Dragoons      4.0  15.50  14.153916  3.0  3.75  14.0  25.75  31.0
Nighthawks    4.0  15.25  14.453950  2.0  3.50  14.0  25.75  31.0
Scouts        4.0   2.50   0.577350  2.0  2.00   2.5   3.00   3.0

### Step 7. Present the mean preTestScores grouped by regiment and company

In [31]:
pretest_mean = df.groupby(['regiment', 'company'])['preTestScore'].mean()
print(pretest_mean)

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [32]:
pivot_posttest = df.pivot_table(values='postTestScore', index='regiment', columns='company', aggfunc='mean')
print(pivot_posttest)

company      1st   2nd
regiment
Dragoons    47.5  75.5
Nighthawks  59.5  59.5
Scouts      66.0  66.0

### Step 9. Group the entire dataframe by regiment and company

In [ ]:
grouped = df.groupby(['regiment', 'company'])

Step 9 - Grouped object created (no output)

### Step 10. What is the number of observations in each regiment and company

In [39]:
observation_count = df.groupby(['regiment', 'company']).size()
print(observation_count)

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [40]:
for (regiment_name, company_name), group_data in grouped:
    print(group_data)

   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70