In [ ]:
import numpy as np
import pandas as pd

In [3]:
data = ['peter', 'Paul', 'Mary', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [4]:
data =  ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [7]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [8]:
names.str.upper()

0    PETER
1     PAUL
2     None
3     MARY
4    GUIDO
dtype: object

In [9]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gillam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [10]:
#methods that retrun a series of strings
monte.str.lower()

0    graham chapman
1       john cleese
2      terry gillam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [11]:
#methods that return numbers
monte.str.len()

0    14
1    11
2    12
3     9
4    11
5    13
dtype: int64

In [12]:
#methods that retun boolean values
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [13]:
#methods that return lists or other compound values for each element
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2      [Terry, Gillam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [15]:
#Methods using regular expressions
#we can extract the first name from each by asking for a contiguous group of characters at the beginning of each element:
monte.str.extract('([A-Za-z]+)', expand=False)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [16]:
#finding all names that start and end with a consonant, making use of the start-of-string (^) and end-of-string ($) regular expression characters:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2      [Terry Gillam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [18]:
#Vectorized item access and slicing
#get a slice of the first three characters of each array using str.slice(0, 3
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [19]:
#to extract the last name of each entry, we can combine split() and get()
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2     Gillam
3       Idle
4      Jones
5      Palin
dtype: object