## 16-JULY-2025

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [17]:
df = pd.read_csv('/home/humpnduati/DATA_SCIENCE/25e---PyData/Data_Sets/air_quality_no2_long.csv')
df.head(20)

     city country                   date.utc location parameter  value   unit
0   Paris      FR  2019-06-21 00:00:00+00:00  FR04014       no2   20.0  µg/m³
1   Paris      FR  2019-06-20 23:00:00+00:00  FR04014       no2   21.8  µg/m³
2   Paris      FR  2019-06-20 22:00:00+00:00  FR04014       no2   26.5  µg/m³
3   Paris      FR  2019-06-20 21:00:00+00:00  FR04014       no2   24.9  µg/m³
4   Paris      FR  2019-06-20 20:00:00+00:00  FR04014       no2   21.4  µg/m³
5   Paris      FR  2019-06-20 19:00:00+00:00  FR04014       no2   25.3  µg/m³
6   Paris      FR  2019-06-20 18:00:00+00:00  FR04014       no2   23.9  µg/m³
7   Paris      FR  2019-06-20 17:00:00+00:00  FR04014       no2   23.2  µg/m³
8   Paris      FR  2019-06-20 16:00:00+00:00  FR04014       no2   19.0  µg/m³
9   Paris      FR  2019-06-20 15:00:00+00:00  FR04014       no2   19.3  µg/m³
10  Paris      FR  2019-06-20 14:00:00+00:00  FR04014       no2   20.1  µg/m³
11  Paris      FR  2019-06-20 13:00:00+00:00  FR04014       no2   19.4  µg/m³
12  Paris      FR  2019-06-19 10:00:00+00:00  FR04014       no2   26.6  µg/m³
13  Paris      FR  2019-06-19 09:00:00+00:00  FR04014       no2   27.3  µg/m³
14  Paris      FR  2019-06-18 22:00:00+00:00  FR04014       no2   39.3  µg/m³
15  Paris      FR  2019-06-18 21:00:00+00:00  FR04014       no2   23.1  µg/m³
16  Paris      FR  2019-06-18 20:00:00+00:00  FR04014       no2   17.0  µg/m³
17  Paris      FR  2019-06-18 19:00:00+00:00  FR04014       no2   15.3  µg/m³
18  Paris      FR  2019-06-18 08:00:00+00:00  FR04014       no2   49.6  µg/m³
19  Paris      FR  2019-06-18 07:00:00+00:00  FR04014       no2   52.6  µg/m³

In [18]:
df.dtypes

city          object
country       object
date.utc      object
location      object
parameter     object
value        float64
unit          object
dtype: object

In [ ]:
#convert date to a datetime object
df['date.utc']= pd.to